.stickers{
    display: flex;
    justify-content: center;
    height: auto;
}
.stickers img{
    width: auto; 
    height: 400px;
}
.stickers div{
    width: 400px; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.boton{
    display: flex;
    justify-content: center;
}